.weatherBox{
    margin: 5%;
    padding: 10px;
    margin-top: 5vh;
    max-width:550px;
}
.btninputlink{
    padding-top: 1em;
    flex-direction:row;
    gap:1em;

}


.weatherData{
    flex-direction:row;
gap: 5%;
}


.oilImgandDis {
    flex-direction: column;
}


.Oillinks{
    margin: 1em;
    flex-direction:row;
    gap:1em;
}

.codeBox{
width:380px;
overflow:auto
}