@tailwind base;

:root {
  --theme-one-clr: #bc5e3e;
  --theme-two-clr: aliceblue;
  --theme-three-clr: rgb(27, 128, 128);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
input, textarea{
  background-color: var(--theme-two-clr); 
  color: black;
  border-radius: 8px;
  border: 1px solid var(--theme-one-clr);
  font-size: 1.2rem;
  font-weight: 600;

}
button{
  margin-top: 7PX;
  background-color: var(--theme-three-clr);
padding:3px;
border-radius: 5px;
}
button:hover{
  background-color: rgb(219, 216, 231);

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: url(../pics/mountain.jpg);
  min-height: 100vh;
  min-height: 100svh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.card {
  background-color: var(--theme-one-clr);
  border-radius: 8px;
  padding: 5px;
  min-width: 10rem;
  max-width: 43rem;
  margin: 3%;
  z-index: 1;
  color: var(--theme-two-clr);
}

.container {
  gap:1em;
  flex-direction: column;
}

.landing {
  min-height: 100vh;
  min-height: 100svh;
}
.profilePic {
  border-radius: 20%;
  margin: 0 auto;
  display: block;
  border: 5px solid var(--theme-one-clr);
}
.name {
  font-size: xx-large;
  font-weight: 600;
}

.scroll-title {
  font-size: 1em;
  color: var(--theme-two-clr);
  font-weight: 700;
  text-shadow: 10px 10px 10px var(--theme-one-clr);
  padding-top: 15px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.subTitle {
  text-align: center;
  font-size: 1.0rem;
  font-weight: 600;
}

.portfolio {

  min-height: 100vh;
  min-height: 100svh;
}

.contact {
  background-color: var(--theme-three-clr);
  transform: translateZ(0);
  min-height: 100vh;
  min-height: 100svh;
  font-weight: 400;
}

.contactDiv {
  padding:1em;
  flex-direction: column;
  z-index: -1;
}

.contactForm{
  flex-direction: column;
  z-index: -1;
gap:1em;
}

.contactInput{
width:min-content
}

.project {
  background-color: var(--theme-one-clr);
}

.navbarDiv {
  position: fixed;
  margin-top: 2%;
  margin-left: 2%;
  z-index: 2;
}

@media (max-width: 800px) {
  .navbarDiv {
    display: none;
  }

}


.link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
  padding: 5px;
  display: block;
  font-weight: 7700;
  color: var(--theme-two-clr);
}

.link:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}