@tailwind base;

:root{
  --theme-one-clr: #d14d21;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  
  background-image: url(../pics/image-1.png);
  min-height: 100vh;
  min-height: 100svh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.card{
  background-color:var(--theme-one-clr);
  border-radius:5px;
  margin: auto;
  padding: 10px;
  z-index: 1;
  color: aliceblue;

}
.landing {
  transform: translateZ(0);
  min-height: 100vh;
  min-height: 100svh;
}

.name{
  font-size:xx-large;
  font-weight: 600;
}
.scroll-title{
  font-size:large;
  font-weight: 600;
padding-top: 15px;
}
.title{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color:var(--theme-one-clr);
  font-size:xx-large;
}
.portfolio {
  min-height: 100vh;
  min-height: 100svh;
}

.contact {
  min-height: 100vh;
  min-height: 100svh;
  font-weight: 400;
}

.project {
  margin: 15%;
  padding: 10px;
  background-color:var(--theme-one-clr);
}

@media (min-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (min-width: 480px) {
  .grid-layout {
    display: flex;
  }
}

.input-container {
  display: inline-block;
  position: relative;
}

.input-container input {
  padding: 5px;
  width: auto;
  border: 1px solid #ccc;
  box-sizing: content-box;
}

.input-container input::placeholder {
  color: #d9bebe;
}

/* .input-container input:focus {
  border-color: #007bff;
} */

.link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
  padding: 5px;
  display: block;
  width: max-content;
  font-weight: 800;
  color:var(--theme-one-clr);
}

.link:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}
.navbarDiv {
  position: fixed;
  margin-top:2%;
  margin-left:2%;
  z-index: 1;
}

.contactDiv {
  z-index: -1px;
}

.contact {
  transform: translateZ(0);
  color:#ccc;
}

